<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hassan Shahir</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main>
      <h1>Hassan Shahir</h1>
      <div style="margin-bottom: 1em;">
        <a href="/essays/" style="margin-right:1.5em;">Essays</a>
        <a href="/projects/">Projects</a>
      </div>

      <img id="main-img" src="/images/image1.jpg" alt="artworks" style="width:250px; margin-bottom: 1em; display: block;">
      <script>
        (function(){
          var images = [
            "/images/image1.jpg",
            "/images/image2.jpg",
            "/images/image3.jpg",
            "/images/image4.jpg",
            "/images/image5.jpg"
            // add more images here
          ];
          var img = document.getElementById('main-img');
          img.src = images[Math.floor(Math.random() * images.length)];
        })();
      </script>      

      <p>
        <em>“Let everything happen to you. Beauty and terror. Just keep going. No feeling is final.”</em><br>
        <strong>– Rainer Maria Rilke</strong>
      </p>
      
      <p>Hello World, welcome to my little corner of the internet. If you’ve stumbled across this site and like what you see, that’s great! For me, it’s just a personal archive.</p>

      <p>
        I’m Hassan. I like tech, philosophy, sleep, and working on my ideas. I’m 18. I go to school. I code. I read. I build & break and I think... (a lot).
      </p>

      <p>
        Here, I share my thoughts & readings 
        <a href="/essays/">(Essays)</a>, and what I’m working on 
        <a href="/projects/">(Projects)</a>. If you find something worthwhile here, that’s a bonus.
      </p>

      <p>
        Email me at <a href="mailto:hassan@hassanshahir.com">hassan@hassanshahir.com</a>.<br>
        You can also send me encrypted mail using 
        <a href="https://raw.githubusercontent.com/hssnx/hssnx.github.io/refs/heads/main/assets/utils/hassan.asc">this PGP public key</a>
        (ID 054E27C1, fingerprint F577 F32C 9960 BDF9 16BB 78B4 D54D 2C1E 054E 27C1).
      </p>
    </main>
  </body>
</html>
