<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/book_index.css" />
</head>
<body>
  <div class="book-container">
    <div class="book-header-bar">
      <div class="book-header-left"><a href="/">Hassan Shahir</a></div>
      <div class="book-header-right">
        <a href="/essays/">essays</a>
        <a href="/books/">books</a>
        <a href="/projects/">projects</a>
      </div>
    </div>

    {% assign sorted_books = site.pages | sort: "date" | reverse %}
    {% assign last_book = nil %}
    {% for page in sorted_books %}
      {% if page.url contains '/books/' and page.url != '/books/' %}
        {% assign last_book = page %}
        {% break %}
      {% endif %}
    {% endfor %}

    <div class="page-properties">
      <h2>Books</h2>
      <p>A curated list of books I recommend, have read, or am currently exploring.</p>
      <p>Last Updated: {{ last_book.date | date: "%B %d, %Y" }}</p>
    </div>

    <div class="divider"></div>

    <ul class="content-list">
      <p>Coming soon. This website is still under construction!</p>
      {% for page in sorted_books %}
        {% if page.url contains '/books/' and page.url != '/books/' %}
          <li class="content-entry">
            <span class="item-date">{{ page.date | date: "%B %d, %Y" }}</span>:
            <a href="{{ page.url }}">{{ page.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</body>
</html>